<main class="container">
  <div class="page-header px-3 py-3 mx-auto text-center">
    <h1 class="display-4">About the Bootcamp</h1>
    <p class="lead text-muted">In this Angular Bootcamp January 2021, we are going to learn how to make professional web application development.
      We will start from the beginning level, but we will take our level at any enterprise level software development
      knowledge.</p>
  </div>

  <div class="container lead p-2 text-justify">
    <p>We are here to learn angular. We hope to be master in angular in near
      future. But to do this we must need to do all assignment in time. We are here to learn angular.
      We hope to be master in angular in near future. But to do this we must need to do all assignment
      in time. We are here to learn angular. We hope to be master in angular in near future. But to do
      this we must need to do all assignment in time.</p>
  </div>
</main>
